.user-container{
    border: 1px;
    background-color: khaki;
}

.search-header {
    display: flex;
  }
  .search-text {
    margin-right: 10px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #search-box {
    height: 25px;
  }
  #search-box[placeholder] {
    line-height: 25px;
    font-size: 25px;
  }
  #item-list {
    min-height: 260px;
  }